@model IEnumerable<ListClass.Model.DanhMucThietBi>
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng với 3 Hàng trong Cột 3</title>
    <style> 
        .header{
            display:flex;
            justify-content:space-between;
            border:1px solid #000;
        }
        .header-content img{
            width:180px;
        }
        .header-content:nth-child(1)
        {
            width:20%;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .header-content:nth-child(2) {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align:center;
            border-left:1px solid #000;
            border-right:1px solid #000;
        }
        .header-content:nth-child(3) {
            width: 20%; 
        }
        .header-content-text {
            padding:10px 
        }
        .header-content-text:nth-child(2) {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top:25px
        }

        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
        .row{
            display:flex;
            margin-top:20px
        }
        .col-md-5{
            width:50%;
            text-align:center
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <img src="https://danhhuylab.vn/Public/Img/logo.png" />
        </div>
        <div class="header-content">
            <h2>QUY TRÌNH QUẢN LÝ THIẾT BỊ<br />DANH MỤC THIẾT BỊ</h2>
        </div>
        <div class="header-content">
            <div class="header-content-text">Mã số: DH-QT03/BM01</div>
            <div class="header-content-text">Số soát xét: 02</div>
            <div class="header-content-text">Ngày hiệu lực: 27/03/2024</div>
        </div>
    </div>
    <table>
        <tr>
            <th>STT</th>
            <th>
                TÊN THIẾT BỊ
            </th>
            <th>
                MÃ THIẾT BỊ
            </th>
            <th>
                HÃNG SẢN XUẤT/
                QUỐC GIA
            </th>
            <th>
                NGÀY ĐƯA VÀO SỬ DỤNG
            </th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            <tr>
                <td style="text-align:center">@(i + 1)</td>
                <td style="text-align:left;padding: 0 0 0 10px">@Html.DisplayFor(modelItem => item.TenThietBi)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.MaThietBi)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.HangSX)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.NgayDuaVaoSuDung)</td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-md-5"><strong>NGƯỜI LẬP BIỂU</strong></div>
        <div class="col-md-5"><strong>NGƯỜI PHÊ DUYỆT</strong></div>
    </div> 
</body>
</html>
