@model ListClass.Model.LampSystem
@using (Html.BeginForm("Create", "LampSystem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>THÊM ĐÈN UV</strong></h3>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="row py-1" style="margin-bottom:10px">
                    <div class="col-md-12"> 
                        <div class="form-group">
                            <strong class="control-label col-md-3">Tên đèn UV</strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Lamp_Systems, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Lamp_Systems, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="width: auto;">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div>
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                    <a href="@Url.Action("Index","LampSystem")"><img src="~/Public/Img/close.png" width="40" /></a>
                </div>
            </div>
        </div>
    </section>
}
