@model List<ListClass.Model.PhanCong>
<script src="~/Public/Js/DropDownSelect.js"></script>
@using (Html.BeginForm("ThemNgay", "GiaTriTruocHieuChinh", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>THÊM NGÀY TRƯỚC HIỆU CHỈNH</strong></h3>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <strong>Ngày (<i style="color:blue">Date</i>)</strong><br />
                            @Html.Hidden("ngaytaotruochieuchinhs[" + i + "].Id_PhanCong", Model[i].Id, new { @readonly = "readonly", @class = "form-control" })
                            @Html.TextBox("ngaytaotruochieuchinhs[" + i + "].NgayTao", "", new { @type = "date", @class = "form-control", @required = "required", data_val_required = "Trường này là bắt buộc" })
                        </td>
                        <td>
                            <strong>Technicial</strong><br />
                            @Html.Hidden("ngaytaotruochieuchinhs[" + i + "].Id", "", new { @readonly = "readonly", @class = "form-control" })
                            @Html.TextBox("ngaytaotruochieuchinhs[" + i + "].Technicial", "", new { @class = "form-control", @required = "required", data_val_required = "Trường này là bắt buộc" })
                        </td>
                        <td width="300px">
                            <strong>Lamp Systems</strong><br />
                            @Html.DropDownList("ngaytaotruochieuchinhs[" + i + "].Id_LampSystems", new SelectList(ViewBag.LampSystems, "Value", "Text"), "Chọn Lamp Systems...", new { @class = "form-control idDropdown", required = "required" })
                        </td>
                        <td width="300px">
                            <strong>Bulb Spectrum</strong><br />
                            @Html.DropDownList("ngaytaotruochieuchinhs[" + i + "].Id_BulbSpectrum", new SelectList(ViewBag.BulbSpectrum, "Value", "Text"), "Chọn Bulb Spectrum...", new { @class = "form-control idDropdown", required = "required" })
                        </td>
                    </tr>

                }
            </table>
            <div class="row">
                <div class="col-md-2" style="width: auto;">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div>
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                    <a style="text-decoration:none;" href="#" onclick="closeModal()"><img src="~/Public/Img/close.png" width="40" /></a>
                </div>
            </div>
        </div>
    </section>
}

