@model List<ListClass.Model.PhanCong>
@using (Html.BeginForm("EditNhieu", "PhanCong", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>PHÂN CÔNG NHÂN VIÊN</strong></h3>
                </div>
            </div>
            <div class="row" style="overflow-x:auto;">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Mã phân công</th>
                        <th>Số SN</th>
                        <th>Số nhận dạng</th>
                        <th>Model</th>
                        <th>Tên công ty</th>
                        <th style="width:200px">Tên nhân viên</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model[i].MaPC
                                @Html.Hidden("phancongs[" + i + "].Id", Model[i].Id, new { @readonly = "readonly", @class = "form-control" })
                                @Html.Hidden("phancongs[" + i + "].MaPC", Model[i].MaPC, new { @readonly = "readonly", @class = "form-control" })
                            </td>
                            <td>
                                @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.SerialNumber
                            </td>
                            <td>
                                @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.SoNhanDang
                            </td>
                            <td>
                                @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.Model
                            </td>
                            <td>
                                @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.KhachHang.TenKH
                            </td>
                            <td style="width:200px">
                                @Html.Hidden("phancongs[" + i + "].Id_pychc", Model[i].Id_pychc, new { @readonly = "readonly", @class = "form-control" })
                                @Html.DropDownList("phancongs[" + i + "].Id_NV", new SelectList(ViewBag.UserList, "Value", "Text", Model[i].Id_NV), "Chọn nhân viên...", new { @class = "form-control idDropdown", required = "required" })
                            </td>

                        </tr>
                    }
                </table>
                <div class="row">
                    <div class="col-md-2" style="width: auto;">
                        <button class="form-control form-a-control" type="submit" value="Edit">
                            <span class="fas fa-edit"> OK</span>
                        </button>
                    </div>
                    <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                        <a href="@Url.Action("Index","PhanCong")"><img src="~/Public/Img/close.png" width="40" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

