@model List<ListClass.Model.PhieuyeucauhieuchuanDoi>
@using (Html.BeginForm("TaoNhieu", "PhanCong", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>PHÂN CÔNG NHÂN VIÊN</strong></h3>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="50px">STT</th>
                    <th>Số SN</th>
                    <th>Model</th>
                    <th>Tên công ty</th>
                    <th style="width:200px">Tên nhân viên</th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                { 
                    <tr>
                        <td>
                            @(i+1)
                            @Html.Hidden("listnumbers[" + i + "].Id_pychc", Model[i].Id_phieuyeucauhieuchuan, new { @readonly = "readonly", @class = "form-control" })
                        </td>
                        <td>
                            @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.SerialNumber
                        </td>
                        <td>
                            @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.Model
                        </td>
                        <td>
                            @Model[i].Phieuyeucauhieuchuan.PhieuNhanThietBi.ListNumber.KhachHang.TenKH
                        </td>
                        <td style="width:200px">
                            @Html.DropDownList("listnumbers[" + i + "].Id_NV", (SelectList)ViewBag.UserList, "Chọn nhân viên...", new { @class = "form-control idDropdown", @required = "required" })
                        </td>

                    </tr>
                }
            </table>
            <div class="row">
                <div class="col-md-2" style="width: auto;">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div>
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                    <a style="text-decoration:none;" href="#" onclick="closeEditModal()"><img src="~/Public/Img/close.png" width="40" /></a> 
                </div>
            </div>
        </div>
    </section>
}

