@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ListClass.Model.Join_PhanCong_NhanVien>
@{
    ViewBag.Title = "Danh sách phân công";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="content-wrapper">
    <section>
        <div class="container" style="margin-top:20px">
            <div class="row" style="text-align:center">
                <h3><strong style="color:blue">PHÂN CÔNG THỰC HIỆN</strong></h3>
            </div>
            @using (Html.BeginForm("ThucHien", "PhanCong", FormMethod.Post))
            {
                <div class="row">
                    <div class="search-product col-md-2 col-12">
                        @Html.TextBox("Name", Request.QueryString["Name"], new { @class = "form-control", @placeholder = "Tìm kiếm..." })
                    </div>
                    <div class="submit-search-product col-md-3 col-12" style="width:auto">
                        <input type="submit" value="Tìm kiếm" class="form-control" />
                    </div> 
                </div>
            }
        </div>
    </section> 
        <section class="content py-2">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-2 col-12" style="width:auto">
                                    <div class="dropdown-on-off">
                                        <div class="form-control"><span class="fas fa-list-ul"> Ẩn / Hiện</span></div>
                                        <div class="dropdown-content-btn">
                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleTenThietBiThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleTenThietBiThucHien"><span class="fas"> Tên TB</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleModelThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleModelThucHien"><span class="fas"> Model</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleSerialNumberThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleSerialNumberThucHien"><span class="fas"> Số SN</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleNameThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleNameThucHien"><span class="fas"> Tên NV</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleNgayTaoThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleNgayTaoThucHien"><span class="fas"> Ngày tạo</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleNguoiTaoThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleNguoiTaoThucHien"><span class="fas"> Người tạo</span></p> 

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleStatusThucHien" checked />
                                            <p class="p-checkbox-on-off" for="toggleStatusThucHien"><span class="fas"> Ghi chú</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:10px;width:auto">
                                    @Html.Partial("Message")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height:auto;">
                        <div class="row" style="overflow-x:auto;">
                             <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="40px">
                                            <input type="checkbox" class="selectAll" id="selectAll" />
                                        </th>
                                        <th width="130px" style="text-align:center">
                                            Biên bản HC
                                        </th>
                                        <th width="40px">
                                            STT
                                        </th>
                                        <th width="90px">
                                            Mã PC
                                        </th>
                                        <th width="130px">
                                            Số ND
                                        </th>
                                        <th>
                                            Tên CT
                                        </th>
                                        <th class="TenThietBi-column-ThucHien">
                                            Tên TB
                                        </th>
                                        <th class="Model-column-ThucHien">
                                            Model
                                        </th>
                                        <th width="90px" class="SerialNumber-column-ThucHien">
                                            Số SN
                                        </th>
                                        <th width="80px" class="Name-column-ThucHien">
                                            Tên NV
                                        </th>
                                        <th class="NgayTao-column-ThucHien">
                                            Ngày Tạo
                                        </th>
                                        <th width="100px" class="NguoiTao-column-ThucHien">
                                            Người Tạo
                                        </th>
                                        <th style="text-align:center" width="100px" class="Status-column-ThucHien">
                                           Ghi chú
                                        </th>
                                        <th width="100px" class="Status-column-ThucHien">
                                            Trạng thái
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="selectAll" name="selectedIds" value="@item.Id" />
                                            </td>
                                            <td style="text-align:center;">
                                                @if (item.Status == 1)
                                                {   
                                                    <a href="@Url.Action("Details","BienBanHieuChuan", new {id=item.Id})" class="full-width-link" style="margin-top: 2%">
                                                        <span class="fas" style="color: white;">Xem</span>
                                                    </a>

                                                }
                                                else if (item.Status == 3)
                                                {
                                                    <button style="color:darkgrey" class="form-control" disabled> <span class="fas">Đã hủy</span></button>
                                                }
                                                else
                                                {
                                                    <button style="color:darkgrey" class="form-control" disabled> <span class="fas">Hoàn thành</span></button>

                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @(i + 1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaPC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoNhanDang)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenCty)
                                            </td>
                                            <td class="TenThietBi-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.TenThietBi)
                                            </td>
                                            <td class="Model-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.Model)
                                            </td>
                                            <td class="SerialNumber-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.SerialNumber)
                                            </td>
                                            <td class="Name-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td class="NgayTao-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.NgayTao)
                                            </td>
                                            <td class="NguoiTao-column-ThucHien">
                                                @Html.DisplayFor(modelItem => item.NguoiTao)
                                            </td>
                                            <td style="text-align:center" class="Status-column-ThucHien">
                                                @if(item.GhiChu!=null)
                                                {
                                                    <p>Phiếu có ghi chú</p>
                                                }
                                            </td>
                                            <td class="Status-column-ThucHien">
                                                @if (item.Status == 1)
                                                {
                                                    <a onclick="return confirm('Bạn có chắc chắn muốn hủy phiếu này?');" class="form-control form-a-control-delete" style="text-align:center" href="@Url.Action("Huy","PhanCong",new {id =item.Id})"><span class="fas">Hủy</span></a>
                                                }
                                                else if (item.Status == 3)
                                                {
                                                    <button class="form-control" style="color:darkgrey" disabled><span class="fas"> Đã hủy</span></button>
                                                }
                                                else if (item.Status == 2)
                                                {
                                                    <button class="form-control" style="color:darkgrey" disabled><span class="fas">OK</span></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pagination">
                                    @Html.PagedListPager(Model, Page => Url.Action("Thuchien", "PhanCong", new { Page }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
</div>
<script src="~/Public/Js/Index-ThucHien.js"></script>