@model ListClass.Model.ListNumber
@using (Html.BeginForm("Create", "ListNumber", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>THÊM SẢN PHẨM</strong></h3>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="row py-1" style="margin-bottom:10px">
                    <div class="col-md-3">
                        <div class="form-group">
                            <strong class="control-label col-md-3">Tên khách hàng</strong>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Id_KhachHang, (SelectList)ViewBag.KhachHang, "Chọn khách hàng...", new { @class = "form-control", id = "idDropdown", required = "required" })
                                @Html.ValidationMessageFor(model => model.Id_KhachHang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-3">Tên thiết bị</strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Tenthietbi, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Tenthietbi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <strong class="control-label col-md-3">Model</strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-3">Serial Number</strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <strong class="control-label col-md-3">Hãng</strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Hang, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Hang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-3">Hình ảnh</strong>
                            <div class="col-md-12">
                                <input type="file" name="file" id="file" class="form-control" />
                                @Html.ValidationMessage("file", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <strong class="control-label col-md-3">Phạm vi đo <i style="color:red">(Không cần ghi đơn vị)</i></strong>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PhamViDo, new { htmlAttributes = new { @class = "form-control", @required = "required" } }) 
                                @Html.ValidationMessageFor(model => model.PhamViDo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label col-md-3">Độ phân giải <i style="color:red">(Không cần ghi đơn vị)</i></strong>
                            <div class="col-md-12"> 
                                @Html.EditorFor(model => model.DoPhanGiai, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.DoPhanGiai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong class="control-label col-md-3">Ghi chú</strong>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="customerInfo" style="display:none; margin-top:20px">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Mã KH</th>
                                <th>Tên KH</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td><span style="color:blue" id="customerCode"></span></td>
                                <td><span style="color:blue" id="customerName"></span></td>
                                <td><span style="color:blue" id="customerAddress"></span></td>
                                <td><span style="color:blue" id="customerEmail"></span></td>
                            </tr>
                            <tr>
                                <th>Số ĐT</th>
                                <th>Liên hệ</th>
                                <th>Ngành</th>
                                <th>Ghi chú</th>
                            </tr>
                            <tr>
                                <td><span style="color:blue" id="customerPhone"></span></td>
                                <td><span style="color:blue" id="customerContact"></span></td>
                                <td><span style="color:blue" id="customerGroup"></span></td>
                                <td><span style="color:blue" id="customerNote"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="width: auto;">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div>
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0"> 
                    <a href="@Url.Action("Index","ListNumber")"><img src="~/Public/Img/close.png" width="40" /></a>
                </div>
            </div>
        </div>
    </section>
}
