@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ListClass.Model.User>
@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    .img-column img {
        width: 100px;
        height: 100px;
    }
    button:hover {
        background-color: blue;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

        .pagination a:hover:not(.active) {
            background-color: blue;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

        .dropdown-content input {
            width: 100%;
            box-sizing: border-box;
            padding: 8px;
            border: 1px solid #ddd;
            margin: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .dropdown-content div {
            padding: 12px 16px;
            cursor: pointer;
        }

            .dropdown-content div:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<link href="~/Public/Css/dropdown-select.css" rel="stylesheet" />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center" style="background-color:black">
                    <h1 class="text-light py-3"><strong>LIST ACCOUNT</strong></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section>
        <div style="margin-left:20px;">
            @Html.Partial("Message")
        </div>
    </section>
    <!-- Main content -->
    <section class="content py-3">
        <!-- Default box -->
        <div class="card">
            <div class="row">
                <div class="col-md-2 py-3" style="margin-left:20px">
                    <button class="form-control" type="button">

                        <a style="color:black" href="@Url.Action("Create","User")">THÊM MỚI</a>

                    </button>
                </div>
                <div class="form-group form-inline py-3">
                    @using (Html.BeginForm("Index", "User", FormMethod.Get))
                    {
                        @Html.TextBox("Name", Request.QueryString["Name"], new { @class = "form-control", @placeholder = "Search..." })
                        <input type="submit" value="Tìm kiếm" class="form-control" />

                    }
                </div>
                <div class="col-md-2 col-12" style="width:auto;margin-top:16px">
                    <div class="dropdown-select">
                        <div class="form-control"><span class="fas fa-list-ul"> Tùy chọn</span></div>
                        <div class="dropdown-content-select">
                            <button type="submit" class="editButton" name="action" value="Edit">
                                <span class="fas fa-edit"> Sửa</span>
                            </button>
                            <button type="submit" class="editpassButton" name="action" value="Delete">
                                <span class="fas fa-edit"> Đổi MK</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="margin-top:-30px">
                <table class="table border table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center" width="40px">
                                <input type="checkbox" class="selectAll" id="selectAll" />
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                UserName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Function
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    <input type="checkbox" class="selectAll" name="selectedIds" value="@item.Id" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td> 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-12">
                        <div class="pagination">
                            @Html.PagedListPager(Model, Page => Url.Action("Index", "Listnumber", new { Page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <div class="modal">
        <div class="modal-content">
            <div class="modalContent"></div>
        </div>
    </div>
</div>
<script>
    document.querySelector('.editButton').addEventListener("click", function (event) {
    event.preventDefault();

    var selectedIds = [];
    document.querySelectorAll('input[name="selectedIds"]:checked').forEach(function (checkbox) {
        selectedIds.push(checkbox.value);
    });

    if (selectedIds.length === 0) {
        alert("Vui lòng chọn ít nhất một mục để sửa.");
        return;
    }

    var url = '@Url.Action("Edit", "User", new { ids = "__ID__" })';
    url = url.replace("__ID__", selectedIds.join(','));

    $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {
             $(".modalContent").html(response);
             $(".modal").show();
        },
        error: function () {
            alert('Có lỗi xảy ra khi tải dữ liệu!');
        }
    });
    });
    function closeEditModal() {
        $(".modal").hide();
    }
    document.querySelector('.editpassButton').addEventListener("click", function (event) {
    event.preventDefault();

    var selectedIds = [];
    document.querySelectorAll('input[name="selectedIds"]:checked').forEach(function (checkbox) {
        selectedIds.push(checkbox.value);
    });

    if (selectedIds.length === 0) {
        alert("Vui lòng chọn ít nhất một mục để sửa.");
        return;
    }

    var url = '@Url.Action("EditMK", "User", new { ids = "__ID__" })';
    url = url.replace("__ID__", selectedIds.join(','));

    $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {
             $(".modalContent").html(response);
             $(".modal").show();
        },
        error: function () {
            alert('Có lỗi xảy ra khi tải dữ liệu!');
        }
    });
    }); 
</script>