@model IEnumerable<ListClass.Model.Join_NhatKyBaoTriVaSuChua_ThietBi_DuLieu>
@{
    var distinctItems = Model
        .GroupBy(x => x.Id)
        .Select(g => g.FirstOrDefault())
        .ToList();
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng với 3 Hàng trong Cột 3</title>
    <style>
        .header {
            display: flex;
            border: 1px solid #000;
            justify-content: space-between;
            height: 150px
        }

        .hearder-content img {
            width: 200px;
            padding: 35px 0
        }

        .hearder-content:nth-child(1) {
            width: 25%;
            text-align: center;
        }

        .hearder-content:nth-child(2) {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            text-align: center;
            align-content: center;
            width: 50%
        }

        .hearder-content:nth-child(3) {
            width: 25%;
            align-content: center
        }

        .hearder-content-text {
            font-size: 17px
        }

            .hearder-content-text:nth-child(2) {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }

            .hearder-content-text:nth-child(1),
            .hearder-content-text:nth-child(2),
            .hearder-content-text:nth-child(3) {
                padding: 15px
            }

        h2 {
            padding: 10px 0
        }

            h2:nth-child(2),
            h2:nth-child(3) {
                margin-top: -30px
            }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }
        .row{
            display:flex;
            font-size:17px
        }
        .col-md-5{
            width:50%;
            text-align:center
        }
        .body{
            padding:20px 0
        }
        .row{
            margin-top:10px
        }
        .footer{
            margin-top:-20px
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="hearder-content">
            <img src="https://danhhuylab.vn/Public/Img/logo.png" />
        </div>
        <div class="hearder-content">
            <h2>BIÊN BẢN HIỆN CHUẨN</h2>
            <h2>NHẬT KÍ BẢO TRÌ</h2>
            <h2>VÀ SỬA CHỮA THIẾT BỊ</h2>
        </div>
        <div class="hearder-content">
            <div class="hearder-content-text">Mã số: DH-QT03/BM04</div>
            <div class="hearder-content-text">Số soát xét: 02</div>
            <div class="hearder-content-text">Ngày hiệu lực: 27/03/2024</div>
        </div>
    </div>
    @foreach (var item in distinctItems)
    {
        <div class="body">
            <div class="row">
                1: Tên thiết bị: <strong>@item.TenThietBi</strong>
            </div>
            <div class="row">
                2: Nhà sản xuất/ hãng sản xuất: <strong>@item.HangSX</strong>
            </div>
            <div class="row">
                3: Số SN: <strong>@item.Serial</strong>
            </div>
            <div class="row">
                4: Ngày lắp đặt: <strong>@item.NgayLapDat.ToString("dd/MM/yyyy")</strong>
            </div>
            <div class="row">
                3: Nhật ký bảo trì/ sửa chữa: <strong>@item.NhatKyBaoTri</strong>
            </div>
        </div>
    }
    <table>
        <tr>
            <th>STT</th>
            <th>Ngày</th>
            <th>
                Mô tả sự cố
            </th>
            <th>
                Hành động khắc phục
            </th>
            <th>
                Kết quả
            </th>
            <th>
                Người sửa chữa
            </th>
            <th>
                Người kiểm tra
            </th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            <tr>
                <td>@(i + 1)</td>
                <td>@item.Ngay.ToString("dd/MM/yyyy")</td>
                <td>@item.MoTaSuCo</td>
                <td>@item.HanhDongKhacPhuc</td>
                <td>@item.KetQua</td>
                <td>@item.NguoiSuaChua</td>
                <td>@item.NguoiKiemTra</td>
            </tr>
        }
    </table>
    <div class="footer">
        <div class="row">
            <div class="col-md-5"><h4>NGƯỜI LẬP BIỂU</h4></div>
            <div class="col-md-5"><h4>NGƯỜI PHÊ DUYỆT</h4></div>
        </div>
    </div> 
</body>
</html>
