@model List<ListClass.Model.Phieuyeucauhieuchuan>
@using (Html.BeginForm("EditNhieu", "Phieuyeucauhieuchuan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="color:blue"><strong>CHỈNH SỬA PHIẾU YÊU CẦU HIỆU CHUẨN</strong></h3>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="center">
                        <th colspan="6">#</th>
                    </tr>
                    <tr>
                        <td>
                            <strong>Mã phiếu</strong><br />
                            @Html.TextBox("Phieuyeucauhieuchuans[" + i + "].MaPhieu", Model[i].MaPhieu, new { @readonly = "readonly", @class = "form-control" })
                            @Html.Hidden("Phieuyeucauhieuchuans[" + i + "].Id", Model[i].Id, new { @readonly = "readonly", @class = "form-control" })
                        </td>
                        <td>
                            <strong>Tên công ty (<i style="color:red">Thông tin xuất hóa đơn</i>)</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Tencognty", Model[i].Tencognty, new { @class = "form-control", @style = "height:100px" })
                        </td>
                        <td>
                            <strong>Địa chỉ công ty (<i style="color:red">Thông tin xuất hóa đơn</i>)</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Diachicongty", Model[i].Diachicongty, new { @class = "form-control", @style = "height:100px" })
                        </td>

                        <td>
                            <strong>Địa chỉ hiệu chuẩn</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Diachihieuchuan", Model[i].Diachihieuchuan, new { @class = "form-control", @style = "height:100px" })
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <strong>Dịch vụ yêu cầu</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Dichvuyeucau", Model[i].Dichvuyeucau, new { @class = "form-control", @style = "height:100px" })
                        </td>
                        <td>
                            <strong>Mã số thuế</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Masothue", Model[i].Masothue, new { @class = "form-control", @style = "height:100px" })
                        </td>
                        <td>
                            @Html.Hidden("Phieuyeucauhieuchuans[" + i + "].Id_phieunhanthietbi", Model[i].Id_phieunhanthietbi, new { @readonly = "readonly", @class = "form-control" })
                            <strong>Nơi thực hiện</strong>
                            @Html.TextArea("Phieuyeucauhieuchuans[" + i + "].Danhhuy", Model[i].Danhhuy, new { @class = "form-control", @style = "height:100px" })
                        </td>
                        <td>
                            <strong>Số lượng</strong>
                            @Html.TextBox("Phieuyeucauhieuchuans[" + i + "].Soluong", Model[i].Soluong, new { @class = "form-control", @type = "number" })
                        </td>
                    </tr>
                }
            </table>
            <div class="row">
                <div class="col-md-2" style="width: auto;">
                    <button class="form-control form-a-control" type="submit" value="Edit">
                        <span class="fas fa-edit"> OK</span>
                    </button>
                </div>
                <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
                    <a href="@Url.Action("Index","Phieuyeucauhieuchuan")"><img src="~/Public/Img/close.png" width="40" /></a>
                </div>
            </div>
        </div>
    </section>
}

