@model List<ListClass.Model.DuLieu_NhatKyBaoTriVaSuChua>
@using (Html.BeginForm("Delete", "DuLieu_NhatKyBaoTriVaSuChua", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<section class="content py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h3 style="color:red"><strong>BẠN CÓ CHẮC MUỐN XÓA KHÔNG?</strong></h3>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Ngày</th>
                <th>Mô tả sự cố</th>
                <th>Hành động khắc phục</th>
                <th>Kết quả</th>
                <th>Người sửa chữa</th>
                <th>Người kiểm tra</th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model.ElementAt(i);
                <tr>
                    <td style="width:150px">
                        @item.Ngay.ToString("dd/MM/yyyy")
                        @Html.Hidden("ids[" + i + "].Id", Model[i].Id, new { @readonly = "readonly", @class = "form-control" })
                        @Html.Hidden("ids[" + i + "].Id_NhatKyBaoTriVaSuChua", Model[i].Id_NhatKyBaoTriVaSuChua, new { @readonly = "readonly", @class = "form-control" })
                    </td>
                    <td style="width:100px">
                        @item.MoTaSuCo
                    </td>
                    <td style="width:200px">
                        @item.HanhDongKhacPhuc
                    </td>
                    <td style="width:200px">
                        @item.KetQua
                    </td>
                    <td style="width:200px">
                        @item.NguoiSuaChua
                    </td>
                    <td style="width:200px">
                        @item.NguoiKiemTra
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <div class="col-md-2" style="width: auto;">
            <button class="form-control form-a-control" type="submit" value="Edit">
                <span class="fas fa-edit"> OK</span>
            </button>
        </div> 
        <div class="col-md-2" style="width:auto;position:absolute;left:-12px;top:0">
            <a style="text-decoration:none;" href="#" onclick="closeDeleteModal()"><img src="~/Public/Img/close.png" width="40" /></a>
        </div>
    </div>
</section>
}

