@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ListClass.Model.KeHoachHieuChuan_Form>
@{
    ViewBag.Title = "Kế hoạch hiệu chuẩn kiểm tra thiết bị";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 85%;
    }
</style>
<div class="content-wrapper">
    <section>
        <div class="container" style="margin-top:20px">
            <div class="row" style="text-align:center">
                <h3><strong style="color:blue">KẾ HOẠCH HIỆU CHUẨN</strong></h3>
            </div>
            @using (Html.BeginForm("Index", "KeHoachHieuChuan_Form", FormMethod.Post))
            {
                <div class="row">
                    <div class="search-product col-md-2 col-12">
                        @Html.TextBox("Name", Request.QueryString["Name"], new { @class = "form-control", @placeholder = "Tìm kiếm..." })
                    </div>
                    <div class="submit-search-product col-md-3 col-12" style="width:auto">
                        <input type="submit" value="Tìm kiếm" class="form-control" />
                    </div>
                    <div class="page-total col-md-2 col-12" style="width:auto">
                        <button class="form-control" disabled><strong>Trang: @ViewBag.CurrentPage / @ViewBag.TotalPages</strong></button>
                    </div> 
                </div>
            }
        </div>
    </section>
    <div id="addModal" class="modal">
        <div class="modal-content">
            <div id="modalContent"></div>
        </div>
    </div> 
        <section class="content py-2">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-2" style="width:auto">
                                    <a class="form-control form-a-control" style="text-decoration: none" href="#" id="openAddModalBtn">
                                        <span class="fas fa-plus"> Tạo phiếu mới</span>
                                    </a>
                                </div>
                                <div class="col-md-2" style="width:auto;">
                                    <div class="dropdown-select">
                                        <div class="form-control"><span class="fas fa-list-ul"> Tùy chọn</span></div>
                                        <div class="dropdown-content-select">
                                            <button type="submit" class="deleteButton" name="action" value="Delete">
                                                <span class="fas fa-trash"> Xóa</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12" style="width:auto">
                                    <button class="form-control" disabled><strong>Hiện có: </strong><strong style="color:red">(@ViewBag.Count)</strong></button>
                                </div>
                                <div class="col-md-2 col-12" style="width:auto">
                                    <div class="dropdown-on-off">
                                        <div class="form-control"><span class="fas fa-list-ul"> Ẩn / Hiện</span></div>
                                        <div class="dropdown-content-btn">
                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleNgayTaoKeHoachHieuChuanForm" checked />
                                            <p class="p-checkbox-on-off" for="toggleNgayTaoKeHoachHieuChuanForm"><span class="fas"> Ngày tạo</span></p>

                                            <input class="input-checkbox-on-off" type="checkbox" id="toggleNguoiTaoKeHoachHieuChuanForm" checked />
                                            <p class="p-checkbox-on-off" for="toggleNguoiTaoKeHoachHieuChuanForm"><span class="fas"> Người tạo</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:10px;width:auto">
                                    @Html.Partial("Message")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height:auto;">
                        <div class="row" style="overflow-x:auto;">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="40px">
                                            <input type="checkbox" class="selectAll" id="selectAll" />
                                        </th>
                                        <th class="text-center" width="100px">
                                            <span class="fa">Chi tiết</span>
                                        </th>
                                        <th width="40px">
                                            STT
                                        </th>
                                        <th>
                                            Mã phiếu
                                        </th>
                                        <th class="Ngaytao-column-KeHoachHieuChuanForm">
                                            Ngày tạo
                                        </th>
                                        <th class="Nguoitao-column-KeHoachHieuChuanForm">
                                            Người tạo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="selectAll" name="selectedIds" value="@item.Id" />
                                            </td>
                                            <td class="text-center">
                                                <a style="width:80px" class="text-decoration-none  form-control form-a-control  " href="@Url.Action("Index", "KeHoachHieuChuan",new {id = item.Id})" ><span class="fa"> Xem</span></a>
                                            </td>
                                            <td style="text-align:center">
                                                @(i + 1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaPhieu)

                                            </td>
                                            <td class="Ngaytao-column-KeHoachHieuChuanForm">
                                                @Html.DisplayFor(modelItem => item.NgayTao)
                                            </td>
                                            <td class="Nguoitao-column-KeHoachHieuChuanForm">
                                                @Html.DisplayFor(modelItem => item.NguoiTao)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="pagination">
                                    @Html.PagedListPager(Model, Page => Url.Action("Index", "KeHoachHieuChuan_Form", new { Page }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    <div class="modal deleteModal">
        <div class="modal-content">
            <div class="deletemodalContent"></div>
        </div>
    </div>
</div>
<script src="~/Public/Js/Index-KeHoachHieuChuan-Form.js"></script>
<script>
   document.getElementById("openAddModalBtn").addEventListener('click', function () {
    $.ajax({
        url: '@Url.Action("Create", "KeHoachHieuChuan_Form")',
        type: 'GET',
        success: function (reponse) {
            document.getElementById("modalContent").innerHTML = reponse;
            document.getElementById("addModal").style.display = "block";
        },
        error: function () {
            alert('Có lỗi xảy ra khi tải dữ liệu!');
        }
    });
    });
    function closeAddModal() {
        document.getElementById("addModal").style.display = "none";
    }
    document.querySelector('.deleteButton').addEventListener("click", function (event) {
    event.preventDefault();

    var selectedIds = [];
    document.querySelectorAll('input[name="selectedIds"]:checked').forEach(function (checkbox) {
        selectedIds.push(checkbox.value);
    });

    if (selectedIds.length === 0) {
        alert("Vui lòng chọn ít nhất một mục để xóa.");
        return;
    }
    var url = '@Url.Action("Delete", "KeHoachHieuChuan_Form", new { ids = "__ID__" })';
    url = url.replace("__ID__", selectedIds.join(','));

    $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {
            $(".deletemodalContent").html(response);
            $(".deleteModal").css("display", "block");
        },
        error: function () {
            alert('Có lỗi xảy ra khi tải dữ liệu!');
        }
    });
    });
    function closeDeleteModal() {
        $(".deleteModal").css("display", "none");
    }
</script>