@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ListClass.Model.Join_KeHoachHieuChuanKiemTra_ThietBi>
@{
    ViewBag.Title = "Kế hoạch hiệu chuẩn kiểm tra thiết bị";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var distinctItems = Model
    .GroupBy(x => x.Id_KeHoachHieuChuan_form)
    .Select(g => g.FirstOrDefault())
    .ToList();
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 99;
        right: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        margin: 8% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 85%;
    }
    .text-center img{
        width:120px;
        height:120px
    }
</style>
<div class="content-wrapper">
    <section>
        <div class="container" style="margin-top:20px">
            <div class="row" style="text-align:center">
                <h3><strong style="color:blue">KIỂM TRA THIẾT BỊ</strong></h3>
            </div>
            @using (Html.BeginForm("Index", "KeHoachHieuChuan", FormMethod.Post))
            {
                <div class="row">
                    <div class="search-product col-md-2 col-12">
                        @Html.TextBox("Name", Request.QueryString["Name"], new { @class = "form-control", @placeholder = "Tìm kiếm..." })
                    </div>
                    <div class="submit-search-product col-md-3 col-12" style="width:auto">
                        <input type="submit" value="Tìm kiếm" class="form-control" />
                    </div> 
                </div>
            }
        </div>
    </section>
    <div id="addModal" class="modal">
        <div class="modal-content">
            <div id="modalContent"></div>
        </div>
    </div> 
        <section class="content py-2">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-2" style="width:auto">
                                    <a class="form-control form-a-control" style="text-decoration: none" href="@Url.Action("Index", "KeHoachHieuChuan_Form")"><span class="fas fa-backward"> Trở về</span></a>
                                </div>
                                <div class="col-md-2" style="width:auto;">
                                    <div class="dropdown-select">
                                        <div class="form-control"><span class="fas fa-list-ul"> Tùy chọn</span></div>
                                        <div class="dropdown-content-select">
                                            <button type="submit" class="editButton" name="action" value="Edit">
                                                <span class="fas fa-edit"> Sửa</span>
                                            </button>
                                            <button type="submit" class="deleteButton" name="action" value="Delete">
                                                <span class="fas fa-trash"> Xóa</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="width:auto">
                                    <div class="col-md-2" style="width:auto">
                                        <a class="form-control form-a-control" style="text-decoration: none" href="#" id="openAddModalBtn" data-id="@ViewBag.Id">
                                            <span class="fas fa-plus"> Thêm thiết bị</span>
                                        </a>
                                    </div>
                                </div> 
                                <div class="col-md-2" style="width:auto">
                                    @foreach (var item in distinctItems)
                                    {
                                        using (Html.BeginForm("ExportToPDF", "KeHoachHieuChuan", FormMethod.Post, new { id = "exportForm_" + item.Id_KeHoachHieuChuan_form }))
                                        {
                                            @Html.Hidden("id", item.Id_KeHoachHieuChuan_form)
                                            <a href="#" class="form-control form-a-control downloadLink" data-id="@item.Id_KeHoachHieuChuan_form" style="text-decoration:none">
                                                <span class="fas fa-file-export">InPdf (@ViewBag.ngaytaopdf)</span>
                                            </a>
                                        }
                                    }
                                    </div>
                                <div class="col-md-2" style="margin-top:10px;width:auto">
                                    @Html.Partial("Message")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height:auto;">
                        <div class="row" style="overflow-x:auto;">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="30px" style="vertical-align:middle">
                                            <input type="checkbox" class="selectAll" id="selectAll" />
                                        </th>
                                        <th class="text-center" width="100px" style="vertical-align:middle">
                                            <span class="fa">Chi tiết</span>
                                        </th>
                                        <th style="vertical-align:middle">
                                            STT
                                        </th>
                                        <th style="text-align:center">
                                            Hình SP
                                        </th>
                                        <th style="vertical-align:middle">
                                            Tên thiết bị
                                        </th>
                                        <th style="vertical-align:middle">
                                            Số SN
                                        </th>
                                        <th style="vertical-align:middle">
                                            Mã thiết bị
                                        </th>
                                        <th style="vertical-align:middle">
                                            Hãng SX
                                        </th>
                                        <th style="vertical-align:middle">
                                            Năm
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        var item = Model.ElementAt(i);
                                        <tr>
                                            <td style="vertical-align:middle">
                                                <input type="checkbox" class="selectAll" name="selectedIds" value="@item.Id" />
                                            </td>
                                            <td class="text-center" style="vertical-align:middle">
                                                <a class="form-control form-a-control form-c-control" style="text-decoration: none" href="#" id="add-xem" data-id="@item.Id">
                                                    <span class="fas">Xem</span>
                                                </a>
                                            </td>
                                            <td style="vertical-align:middle">
                                                @(i + 1)
                                            </td>
                                            @if (item.Img != null)
                                            {
                                                <td class="text-center">
                                                    <img src="~/Public/Products/@item.Img" alt="Image" style="width: 100px; height: 100px" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <img src="~/Public/Img/logo.png" alt="Image" style="width: 100px; height: 100px" />
                                                </td>
                                            }
                                            <td style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.TenThietBi)

                                            </td>
                                            <td style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.Serial)

                                            </td>
                                            <td style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.MaThietBi)
                                            </td>
                                            <td style="vertical-align:middle">
                                                @Html.DisplayFor(modelItem => item.HangSX)
                                            </td>
                                            <td style="vertical-align:middle">
                                                @item.NgayTao.ToString("yyyy")
                                            </td>
                                        </tr>
                                        <tr id="details-form-row-@item.Id" style="display:none;">
                                            <td colspan="15" class="details-form-container">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a class="cancel-btn" data-id="@item.Id" href="#" style="position:absolute;left:25px;margin-top:8px;z-index:99;width:110px;text-align:center;text-decoration:none"><img src="~/Public/Img/close.png" width="40" /></a>
                                                    </div>
                                                </div>
                                                <div id="details-content-@item.Id"></div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    <div class="modal deleteModal">
        <div class="modal-content">
            <div class="deletemodalContent"></div>
        </div>
    </div>
    <div class="modal editModal">
        <div class="modal-content">
            <div class="editmodalContent"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { 
        $(".form-c-control").click(function (event) {
            event.preventDefault();
            var id = $(this).data("id");

            $.ajax({
                url: '@Url.Action("Details", "KeHoachHieuChuan", new { id = "__ID__" })'.replace("__ID__", id),
                type: 'GET',
                success: function (result) {
                    $("#details-content-" + id).html(result);

                    $("#details-form-row-" + id).show();
                    $(".cancel-btn[data-id='" + id + "']").show();
                },
                error: function (xhr, status, error) {
                    alert("Có lỗi xảy ra khi tải form thêm khu vực.");
                }
            });
        });
        $(".cancel-btn").click(function (event) {
            event.preventDefault();
            var id = $(this).data("id");

            $("#details-form-row-" + id).hide();
            $(".cancel-btn[data-id='" + id + "']").hide();
        });
});
</script> 
<script>
    document.getElementById('openAddModalBtn').addEventListener("click", function () {
        var id = $(this).data("id");
        $.ajax({
            url: '@Url.Action("Create", "KeHoachHieuChuan", new { ids = "__ID__" })'.replace("__ID__", id),
            type: 'GET',
            success: function (response) {
                document.getElementById("modalContent").innerHTML = response;
                document.getElementById("addModal").style.display = "block";

                $('#idDropdown').select2({
                    width: '100%'
                });

                $(document).on('select2:select', '#idDropdown', function (e) {
                    var selectedId = $(this).val();
                    if (selectedId) {
                        $.ajax({
                            url: '@Url.Action("GetCustomerInfo", "KeHoachHieuChuan")',
                            type: 'GET',
                            data: { id: selectedId },
                            success: function(data) {
                                $('#customerSerial').text(data.Serial);
                                $('#customerMaThietBi').text(data.MaThietBi);
                                $('#customerTenThietBi').text(data.TenThietBi);
                                $('#customerHangSX').text(data.HangSX);
                                $('#customerInfo').show();
                            },
                            error: function() {
                                $('#customerInfo').hide();
                                alert('Có lỗi xảy ra khi lấy thông tin khách hàng.');
                            }
                        });
                    } else {
                        $('#customerInfo').hide();
                    }
                });
            },
            error: function () {
                alert('Có lỗi xảy ra khi tải dữ liệu!');
            }
        });
    });
    function closeAddModal() {
        document.getElementById("addModal").style.display = "none";
    }
</script>
<script>
        document.querySelector('.editButton').addEventListener("click", function (event) {
        event.preventDefault();

        var selectedIds = [];
        document.querySelectorAll('input[name="selectedIds"]:checked').forEach(function (checkbox) {
            selectedIds.push(checkbox.value);
        });

        if (selectedIds.length === 0) {
            alert("Vui lòng chọn ít nhất một mục để sửa.");
            return;
        }

        var url = '@Url.Action("Edit", "KeHoachHieuChuan", new { ids = "__ID__" })';
        url = url.replace("__ID__", selectedIds.join(','));

        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                 $(".editmodalContent").html(response);
                 $(".editModal").show();
            },
                error: function () {
                    alert('Có lỗi xảy ra khi tải dữ liệu!');
                }
            });
        });
        function closeEditModal() {
            $(".editModal").hide();
        }
</script>
<script>
    document.querySelector('.deleteButton').addEventListener("click", function (event) {
    event.preventDefault();

    var selectedIds = [];
    document.querySelectorAll('input[name="selectedIds"]:checked').forEach(function (checkbox) {
        selectedIds.push(checkbox.value);
    });

    if (selectedIds.length === 0) {
        alert("Vui lòng chọn ít nhất một mục để xóa.");
        return;
    }
    var url = '@Url.Action("Delete", "KeHoachHieuChuan", new { ids = "__ID__" })';
    url = url.replace("__ID__", selectedIds.join(','));

    $.ajax({
        url: url,
        type: 'GET',
        success: function (response) {
            $(".deletemodalContent").html(response);
            $(".deleteModal").css("display", "block");
        },
        error: function () {
            alert('Có lỗi xảy ra khi tải dữ liệu!');
        }
    });
    });
    function closeDeleteModal() {
        $(".deleteModal").css("display", "none");
    }
</script>
<script>
    $(document).ready(function () {
        $(".downloadLink").click(function (e) {
            e.preventDefault();

            var form = $(this).closest('form');
            var formData = form.serialize();

            $("#loading").show();

            $.ajax({
                url: form.attr("action"),
                type: 'POST',
                data: formData,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/pdf' });
                    var link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = 'KeHoachHieuChuanKiemTraThietBi.pdf';
                    link.click();

                    $("#loading").hide();
                },
                error: function () {
                    alert('Có lỗi xảy ra khi tải PDF.');
                    $("#loading").hide();
                }
            });
        });
    });

</script>